{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav" style="margin-bottom: 50px;">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#"><i class="icon ion-coffee" style="font-size: 45px;"></i></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/"><i class="fa fa-home" style="font-size: 20px;"></i>&nbsp; Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about" style="color: rgba(255,255,255,0.7);">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/store">&nbsp;Store</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="/myaccount">My account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center" style="color: rgb(253,254,255);margin-bottom: 30px;font-family: ABeeZee, sans-serif;">Change password</h1>
    </div>
    
    <div class="container" style="background-color: rgb(52,58,64);">
        <div class="row">
            <div class="col-md-4 offset-sm-4 align-self-center align-self-sm-center align-self-md-center">
                <div>
                    <form action = "http://localhost:5000/changepass" method='POST' enctype = "multipart/form-data" style="padding-top: 20px;padding-bottom: 20px;">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="notification is-danger" style="color: rgba(255,255,255,1); font-size: 20px;text-align: center;" >
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="form-group"><label style="color: rgb(244,244,245);">Current password</label><input type="password" class="form-control" placeholder="write here" name='currentpass' /></div>
                        <div class="form-group"><label style="color: rgb(244,244,245);">New password</label><input type="password" class="form-control" placeholder="write here" name='newpass' /></div>
                        <div class="form-group"><label style="color: rgb(244,244,245);">Please write new password again</label><input type="password" class="form-control" placeholder="write here" name='checkpass' /></div>                
                        <div class="form-group"><button class="btn btn-primary" type="submit" style="margin-top: 10px;" href="/myaccount">Update</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}