{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="site-heading-lower"><i class="icon ion-coffee" style="font-size: 100px;"></i>&nbsp;coffee way</span></h1>
    <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav" style="margin-bottom: 50px;">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#"><i class="icon ion-coffee" style="font-size: 45px;"></i></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/"><i class="fa fa-home" style="font-size: 20px;"></i>&nbsp; Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about" style="color: rgba(255,255,255,0.7);">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/store">&nbsp;Store</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="login-clean" style="background: url(static/img/products-01.jpg) center / cover no-repeat;background-color: rgba(96,68,31,0.9);">
        <form method="post" style="background-color: rgba(96,68,31,0.85);">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger" style="color: rgba(255,255,255,1); font-size: 20px;">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="color: rgba(230,167,86,0.9);"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="field" style="color: aliceblue;">
                <label class="checkbox">
                    <input type="checkbox" name="chooseremember">
                    Remember me
                </label>
            </div>
            <div class="form-group"><input class="btn btn-primary btn-block" role="button" type="submit" style="background-color: rgba(230,167,86,0.9);font-family: Lora, serif;" value="Log In"></div>
        </form>
        {% if error %}
        <div class="container" style="background-color: aliceblue; margin-top: 30px;border-radius: 20px;">
            <p class="error" style="color: rgb(201, 34, 22);font-size: 25px;text-align: center;font-family: Cookie, cursive"><strong>Error:</strong> {{ error }}
        </div>    
        {% endif %}
    </div>
{% endblock %}